[Unit]
Description=touch injector
#StartLimitIntervalSec=600
#StartLimitBurst=4
After=home.mount

[Service]
Environment=HOME=/home/root
ExecStart=/home/root/touchinjector

[Install]
WantedBy=multi-user.target


